<div class="wrapper wow fadeInDown" style="margin-top: 5rem;" [ngClass]="{'disable': isBusy}">
    <div class="row mt-5 ml-2" *ngIf="!unAuth">
        <div class="col-8 txt_pink wow slideInDown" style="margin-top: 2em;">
            <p class="text-red text-title"> Tổng cộng {{totalProducts}} sản phẩm </p>
        </div>
        <div class="col-8 card">
            <div class="row align-items-center">
                <div class="col-md-2">
                </div>
                <div class="col-md-3 text-center mt-2">
                    <strong>Tên sản phẩm</strong>
                </div>
                <div class="col-md-2 text-center mt-2">
                    <strong>Số lượng</strong>
                </div>
                <div class="col-md-2 text-center mt-2">
                    <strong>Giá</strong>
                </div>
                <div class="col-md-2 text-center mt-2">
                    <strong>Tổng cộng</strong>
                </div>
                <div class="col-1 text-center "></div>
            </div>
            <hr>
            <div *ngFor="let product of cartList wow slideInLeft">
                <div class="row mb-5 align-items-center">
                    <div class="col-md-2">
                        <img src="{{product.PRODUCT_IMAGE}}" alt="Ảnh-của-sản-phẩm" width="100%"
                            (click)="redirectTo('/product/detail/',product.PRODUCT_ID)">
                    </div>
                    <div class="col-md-3 text-center">
                        {{product.PRODUCT_NAME}}
                    </div>
                    <div class="col-md-2 text-center">
                        <div class="btn-group mb-3">
                            <button class="btn btn-danger rounded h-25 w-25" (click)="updateCart(product,-1)"><i
                                    class="pi pi-minus" style="font-size: medium;"></i></button>
                            <p class="ml-3 mr-3 mt-3 mb-2">{{product.PRODUCT_AMOUNT}}</p>
                            <button class="btn btn-danger rounded h-25 w-25" (click)="updateCart(product,1)"><i
                                    class="pi pi-plus" style="font-size: medium;"></i></button>
                        </div>
                    </div>
                    <div class="col-md-2 text-center title-font">
                        {{product.PRODUCT_PRICE | currency : "VND" }}
                    </div>
                    <div class="col-md-2 text-center title-font">
                        {{product.PRODUCT_PRICE * product.PRODUCT_AMOUNT | currency : "VND"}}
                    </div>
                    <div class="col-1 text-center">
                        <i class="pi pi-times" style="border: 1px solid #ddd;"
                            (click)="deleteProductFromCart(product)"></i>
                    </div>
                </div>
                <hr>
            </div>

            <div class="col-12 mt-3 text-center" *ngIf="isEmpty">
                <span>
                    <img src="assets/sad_pet.png" width="20%">
                    <h5 class="mt-3">Không tìm thấy bất kì sản phẩm nào!</h5>
                    <button class="btn btn-primary btn-round" type="button" (click)="redirectTo('/index','')">
                        <i class="now-ui-icons ui-2_favourite-28"></i> Tiếp tục mua sắm
                    </button>
                </span>

            </div>
        </div>

        <div class="col-3 ml-1 wow slideInRight">
            <div class="row">
                <div class="col-12 card">
                    <div style="display: flex;justify-content: space-between;margin-top: 1em;">
                        <span>Tạm tính</span>
                        <span> {{totalCart | currency : "VND"}} </span>
                    </div>
                    <div style="display: flex;justify-content: space-between;margin-top: 1em;">
                        <span>Phí vận chuyển</span>
                        <span> đ20,000</span>
                    </div>
                    <hr>
                    <div style="display: flex;justify-content: space-between;margin-top: 2em;">
                        <span>Thành tiền</span>
                        <span>
                            <h5 class="text-red  title-font">{{totalCart +20000 | currency : "VND" }}</h5>
                        </span>
                    </div>
                    <div class="text-red text-right">
                        (Đã bao gồm VAT)
                    </div>
                </div>
                <div class="col-12 text-center mt-3">
                    <button class="btn rounded-pill" [disabled]="totalProducts == 0"
                        style="background-color: #EC407A;" (click)="redirectTo('/product/checkout','')">Tiến hành đặt hàng</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isBusy" class="screen-center">
        <app-spinner></app-spinner>
    </div>
</div>